In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("calendar_year_revenue.csv")

In [3]:
df.head()

,Calendar Year,Land Class,Land Category,State,County,FIPS Code,Offshore Region,Revenue Type,Mineral Lease Type,Commodity,Product,Revenue
0,2003,Federal,Onshore,Pennsylvania,Armstrong,42005.0,NaN,Royalties,Oil & Gas,Gas,Unprocessed (Wet) Gas,341.47
1,2003,Federal,Onshore,Louisiana,Natchitoches,22069.0,NaN,Other revenues,Oil & Gas,Oil & gas (pre-production),NaN,331.30
2,2003,Federal,Onshore,Missouri,Iron,29093.0,NaN,Royalties,Hardrock,Copper,Copper Concentrate,57929.02
3,2003,Federal,Onshore,Missouri,Iron,29093.0,NaN,Rents,Hardrock,Hardrock,NaN,-51533.57
4,2003,Federal,Onshore,Missouri,Iron,29093.0,NaN,Royalties,Hardrock,Hardrock,Copper Concentrate,14834.41

In [4]:
# Removing 'Offshore Region' Column

df.drop(columns=['Offshore Region'], inplace=True)

In [9]:
# Handle Missing Values

df.fillna({'Revenue': 0, 'Product': 'Unknown', 'Commodity': 'Unknown'}, inplace=True)

In [11]:
# Removing Null Values

df.dropna(inplace=True)

In [13]:
# Fixing the dtypes of columns 

df['FIPS Code'] = df['FIPS Code'].astype(str).str.zfill(5)

In [15]:
df['State'] = df['State'].str.strip()
df['County'] = df['County'].str.strip()

In [17]:
df['Revenue'] = pd.to_numeric(df['Revenue'], errors='coerce').fillna(0)

In [19]:
# Replacing "Unknown" with Commodity Value

df.loc[df['Product'] == 'Unknown', 'Product'] = df['Commodity']

In [21]:
# Create a Revenue Category Column
# This will help classify revenue into groups

def categorize_revenue(value):
    if value < 0:
        return "Negative Revenue"
    elif value == 0:
        return "No Revenue"
    elif value < 10000:
        return "Low Revenue"
    elif value < 100000:
        return "Medium Revenue"
    else:
        return "High Revenue"

df['Revenue Category'] = df['Revenue'].apply(categorize_revenue)

#### Save the cleaned dataset:

In [25]:
df.to_csv("cleaned_revenue_data.csv", index=False)

In [27]:
cleaned_data = pd.read_csv("cleaned_revenue_data.csv")

In [29]:
cleaned_data.head()

,Calendar Year,Land Class,Land Category,State,County,FIPS Code,Revenue Type,Mineral Lease Type,Commodity,Product,Revenue,Revenue Category
0,2003,Federal,Onshore,Pennsylvania,Armstrong,42005.0,Royalties,Oil & Gas,Gas,Unprocessed (Wet) Gas,341.47,Low Revenue
1,2003,Federal,Onshore,Louisiana,Natchitoches,22069.0,Other revenues,Oil & Gas,Oil & gas (pre-production),Oil & gas (pre-production),331.30,Low Revenue
2,2003,Federal,Onshore,Missouri,Iron,29093.0,Royalties,Hardrock,Copper,Copper Concentrate,57929.02,Medium Revenue
3,2003,Federal,Onshore,Missouri,Iron,29093.0,Rents,Hardrock,Hardrock,Hardrock,-51533.57,Negative Revenue
4,2003,Federal,Onshore,Missouri,Iron,29093.0,Royalties,Hardrock,Hardrock,Copper Concentrate,14834.41,Medium Revenue

In [33]:
pip install sqlalchemy mysql-connector-python pandas

Requirement already satisfied: sqlalchemy in c:\users\pc\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in c:\users\pc\anaconda3\lib\site-packages (9.2.0)
Requirement already satisfied: pandas in c:\users\pc\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pc\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pc\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~andas (C:\Users\PC\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\PC\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\PC\anaconda3\Lib\site-packages)

In [35]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

db = mysql.connector.connect(
    host = "127.0.0.1",
    user="root",  
    password="Ashu@10203768",
    database="revenue_analysis"
)

mycursor = db.cursor()
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E1B0FB4FB0>

In [37]:
print(db.is_connected())  # Should return True if connected

True

In [42]:
# Create SQLAlchemy engine
engine = create_engine("mysql+mysqlconnector://root:Ashu%4010203768@127.0.0.1/revenue_analysis")


# Write DataFrame to MySQL Table (Replace 'your_table_name' with actual table name)
cleaned_data.to_sql(name='revenue_data', con=engine, if_exists='replace', index=False)

print("Data successfully inserted into MySQL!")

Data successfully inserted into MySQL!